 .u-section-1 {
  background-image: url("images/aag1roczW4qd.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 673px;
}

.u-section-1 .u-image-1 {
  width: 503px;
  height: 493px;
  margin: -16px auto 0 25px;
}

.u-section-1 .u-image-2 {
  width: 539px;
  height: 357px;
  margin: -501px 70px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 92px;
  height: 92px;
  margin: -30px 348px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 94px;
  height: 94px;
  margin: -92px 246px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 92px;
  height: 92px;
  margin: -93px 146px 0 auto;
}

.u-section-1 .u-image-6 {
  width: 92px;
  height: 92px;
  margin: -92px 46px 0 auto;
}

.u-section-1 .u-image-7 {
  width: 92px;
  height: 92px;
  margin: -93px auto 0 600px;
}

.u-section-1 .u-image-8 {
  width: 93px;
  height: 93px;
  margin: -93px auto 0 499px;
}

.u-section-1 .u-group-1 {
  min-height: 52px;
  height: auto;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.3);
  --radius: 30px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 1085px;
  margin: 56px 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 22px;
  padding-right: 22px;
}

.u-section-1 .u-text-1 {
  margin: 2px 27px 0 9px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-1 .u-image-2 {
    height: 329px;
    margin-top: -477px;
    margin-right: -36px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -26px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 448px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 447px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 333px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    height: 208px;
    margin-top: -436px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 197px;
    margin-right: 248px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 25px;
    margin-right: 78px;
    margin-left: auto;
  }

  .u-section-1 .u-image-8 {
    margin-top: -92px;
    margin-left: 46px;
  }

  .u-section-1 .u-group-1 {
    min-height: 126px;
    margin-top: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-2 {
  background-image: url("images/aag1roczW4qd.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 769px;
}

.u-section-2 .u-image-1 {
  width: 721px;
  height: 521px;
  margin: -128px auto 0;
}

.u-section-2 .u-image-2 {
  width: 175px;
  height: 253px;
  margin: -740px auto 0 -25px;
}

.u-section-2 .u-group-1 {
  min-height: 317px;
  height: auto;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.3);
  --radius: 30px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 1140px;
  margin: 273px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-1 {
  margin: 21px 49px 0 31px;
}

.u-section-2 .u-image-3 {
  width: 484px;
  height: 337px;
  margin: -65px auto 1px 45px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-2 .u-image-1 {
    height: 488px;
    margin-top: 21px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -856px;
  }

  .u-section-2 .u-group-1 {
    min-height: 335px;
    margin-top: 393px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: -185px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 0;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 487px;
    margin-top: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 0;
  }

  .u-section-2 .u-group-1 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    width: 540px;
    height: 365px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1628px;
  }

  .u-section-2 .u-image-1 {
    height: 230px;
    margin-top: -25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: -62px;
  }

  .u-section-2 .u-group-1 {
    min-height: 905px;
    margin-top: -277px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 237px;
    margin-top: 310px;
    margin-bottom: 41px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-3 {
  background-image: url("images/aag1roczW4qd.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 612px;
}

.u-section-3 .u-image-1 {
  width: 422px;
  height: 534px;
  margin: 18px auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 647px;
  height: 417px;
  transform-origin: center center 0px;
  transform: scaleX(-1);
  margin: -753px -105px 0 auto;
}

.u-section-3 .u-image-3 {
  width: 648px;
  height: 446px;
  margin: -120px 26px 0 auto;
}

.u-section-3 .u-group-1 {
  min-height: 166px;
  height: auto;
  width: 584px;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.3);
  --radius: 30px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -167px 69px 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 22px;
  padding-right: 22px;
}

.u-section-3 .u-text-1 {
  margin: 4px 36px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-3 {
    width: 458px;
    height: 360px;
    margin-top: -111px;
    margin-right: 42px;
  }

  .u-section-3 .u-group-1 {
    width: 492px;
    margin-top: -144px;
    margin-right: 42px;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 348px;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: -42px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 836px;
  }

  .u-section-3 .u-image-1 {
    height: 430px;
    margin-top: 78px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    height: 219px;
    margin-top: -1145px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-3 {
    height: 267px;
    margin-top: 363px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-1 {
    min-height: 238px;
    margin-top: 304px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-4 {
  background-image: url("images/aag1roczW4qd.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 818px;
}

.u-section-4 .u-image-1 {
  width: 372px;
  height: 372px;
  margin: 262px -84px 0 auto;
}

.u-section-4 .u-image-2 {
  width: 363px;
  height: 363px;
  margin: -375px auto 0 -45px;
}

.u-section-4 .u-group-1 {
  min-height: 168px;
  height: auto;
  width: 652px;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.3);
  --radius: 30px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -156px 221px 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 40px;
  padding-right: 40px;
}

.u-section-4 .u-text-1 {
  margin: 1px 0 0;
}

.u-section-4 .u-image-3 {
  width: 648px;
  height: 446px;
  margin: -458px 223px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 86px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -188px;
    margin-right: auto;
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-image-3 {
    margin-top: -503px;
    margin-right: 111px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 373px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-3 {
    margin-right: 72px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    width: 540px;
    height: 372px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 105px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 9px;
    margin-right: -142px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -380px;
    margin-left: -46px;
  }

  .u-section-4 .u-group-1 {
    min-height: 239px;
    margin-top: -247px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-3 {
    height: 234px;
    margin-top: -430px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-5 {
  background-image: url("images/aag1roczW4qd.png");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 1351px;
}

.u-section-5 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 535px;
  height: 569px;
  margin: -259px -145px 0 auto;
}

.u-section-5 .u-image-1 {
  width: 407px;
  height: 461px;
  transform-origin: center center 0px;
  transform: translateX(-50%) translateY(-50%) rotate(19.1deg);
}

.u-section-5 .u-image-2 {
  width: 594px;
  height: 416px;
  animation-timing-function: ease;
  margin: -385px auto 0 85px;
}

.u-section-5 .u-list-1 {
  margin-top: -72px;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
  min-height: 486px;
  grid-template-columns: calc(33.3333% - 21.3333px) calc(33.3333% - 21.3333px) calc(33.3333% - 21.3333px);
  grid-auto-columns: calc(33.3333% - 21.3333px);
  grid-gap: 32px 32px;
}

.u-section-5 .u-list-item-1 {
  box-shadow: 0px 0px 20px 0px rgba(128,128,128,0.4);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 30px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 40px 20px;
}

.u-section-5 .u-text-1 {
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-5 .u-text-2 {
  box-shadow: 0px 0px 0px  rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-2 {
  box-shadow: 0px 0px 20px 0px rgba(128,128,128,0.4);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 30px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 40px 20px;
}

.u-section-5 .u-text-3 {
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-5 .u-text-4 {
  font-weight: 400;
  font-style: normal;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-3 {
  box-shadow: 0px 0px 20px 0px rgba(128,128,128,0.4);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 30px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 40px 20px 0;
}

.u-section-5 .u-text-5 {
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-5 .u-text-6 {
  font-weight: 400;
  font-style: normal;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-list-2 {
  width: 554px;
  margin: 43px auto 0 0;
}

.u-section-5 .u-repeater-2 {
  min-height: 279px;
  grid-template-columns: 100%;
  grid-auto-columns: 100%;
  grid-gap: 32px 32px;
}

.u-section-5 .u-list-item-4 {
  box-shadow: 0px 0px 20px 0px rgba(128,128,128,0.4);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 30px;
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 40px 20px;
}

.u-section-5 .u-text-7 {
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-5 .u-text-8 {
  font-weight: 400;
  font-style: normal;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 20px 0 0;
}

.u-section-5 .u-image-3 {
  width: 554px;
  height: 489px;
  margin: -261px 0 41px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1353px;
  }

  .u-section-5 .u-rotation-parent-1 {
    height: 568px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -405px;
    margin-left: 156px;
  }

  .u-section-5 .u-list-1 {
    margin-top: -97px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 396px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 21.3333px));
    grid-auto-columns: calc(33.333333333333336% - 21.3333px);
  }

  .u-section-5 .u-list-2 {
    margin-top: 29px;
  }

  .u-section-5 .u-image-3 {
    margin-top: -279px;
    margin-right: -106px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1327px;
  }

  .u-section-5 .u-rotation-parent-1 {
    margin-top: 0;
  }

  .u-section-5 .u-image-2 {
    margin-top: 0;
    margin-left: 126px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 0;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 965px;
    grid-template-columns: repeat(2, calc(50% - 15.999975000000001px));
    grid-auto-columns: calc(50% - 15.999975000000001px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-5 .u-list-2 {
    margin-top: 0;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-image-3 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1100px;
  }

  .u-section-5 .u-image-2 {
    width: 540px;
    height: 378px;
    margin-left: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-list-2 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1957px;
  }

  .u-section-5 .u-rotation-parent-1 {
    width: 340px;
    height: 361px;
    margin-top: -1186px;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    width: 259px;
    height: 293px;
  }

  .u-section-5 .u-image-2 {
    height: 238px;
    margin-top: 825px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-list-1 {
    margin-top: 88px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-list-2 {
    width: 340px;
    margin-top: 125px;
    margin-right: -15px;
    margin-left: auto;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-image-3 {
    height: 300px;
    width: 340px;
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: -43px;
  }
}

.u-block-0bed-6:not([data-block-selected]):not([data-cell-selected]),
.u-block-0bed-6:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0bed-6:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-0bed-11:not([data-block-selected]):not([data-cell-selected]),
.u-block-0bed-11:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0bed-11:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-0bed-16:not([data-block-selected]):not([data-cell-selected]),
.u-block-0bed-16:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0bed-16:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-list-item-4,
.u-section-5 .u-list-item-4:before,
.u-section-5 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-list-item-2,
.u-section-5 .u-list-item-2:before,
.u-section-5 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-list-item-1,
.u-section-5 .u-list-item-1:before,
.u-section-5 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-list-item-3,
.u-section-5 .u-list-item-3:before,
.u-section-5 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
} .u-section-6 {
  background-image: url("images/aag1roczW4qd.png");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 513px;
}

.u-section-6 .u-custom-html-1 {
  margin-bottom: 0;
  height: auto;
  min-height: 513px;
  margin-top: 0;
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 149px;
  }
} .u-section-7 {
  background-image: url("images/aag1roczW4qd.png");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 412px;
}

.u-section-7 .u-image-1 {
  width: 428px;
  height: 412px;
  margin: 0 auto 0 -86px;
}

.u-section-7 .u-image-2 {
  width: 459px;
  height: 394px;
  margin: -403px -89px 0 auto;
}

.u-section-7 .u-group-1 {
  min-height: 166px;
  height: auto;
  width: 584px;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.3);
  --radius: 30px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -291px auto 0;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 22px;
  padding-right: 22px;
}

.u-section-7 .u-text-1 {
  margin: 4px 36px 0 0;
}

.u-section-7 .u-group-2 {
  min-height: 56px;
  height: auto;
  width: 584px;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.3);
  --radius: 30px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 69px auto 9px;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 22px;
  padding-right: 22px;
}

.u-section-7 .u-text-2 {
  margin: 4px 36px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-7 .u-group-1 {
    height: auto;
  }

  .u-section-7 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-7 .u-group-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 16px;
  }

  .u-section-7 .u-group-2 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 123px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 327px;
    margin-left: 0;
  }

  .u-section-7 .u-image-2 {
    width: 340px;
    height: 292px;
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
    margin-top: 20px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-group-2 {
    width: 340px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }
}